<!DOCTYPE html>
<html>
<head>
	<title>Create User</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Create New Job</legend>
			<table>
				<tr>
					<td>Company name</td>
					<td><input type="text" name="c_name"></td>
				</tr>
				<tr>
					<td>Job Tittle</td>
					<td><input type="text" name="job_tittle" ></td>
				</tr>
				<tr>
					<td>Job Location</td>
					<td><input type="text" name="job_loc" ></td>
				</tr>
				<tr>
					<td>Salary</td>
					<td><input type="text" name="salary"></td>
				</tr>
				<tr>
					<td>Image</td>
					<td><input type="file" name="file"></td>
				</tr>
				
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/emp_home">Back</a>
</body>
</html>