.img{
    width: 100px;
}

.doctors{
    display: flex;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card{
    margin-right: 100px;
}
img{
    width: 150px;
    border-radius: 50%;
}
h5{
    margin-top: 10px;
}
